

@{
    ViewBag.Title = "Index";
}

@* Create Popup *@
<div class="modal fade" id="add-cat">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">إضافة منتج جديد</h4>
            </div>
            <div class="modal-body">

                <form role="form" name="createForm" ng-model="createForm">

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-2">الإسم</label>
                            <div class="col-md-10" >
                                <input type="text" name="name" ng-model="name" class="form-control" ng-required="true" />
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-2">عدد الايام</label>
                            <div class="col-md-10">
                                <input type="number" name="number" ng-model="number" class="form-control" ng-required="true" />

                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div style="padding: 10px;">
                    <div ng-show="(createForm.name.$invalid ||  createForm.number.$invalid || createForm.number.$modelValue < 0) && (createForm.name.$touched || createForm.number.$touched)"
                         class="alert alert-danger"
                         role="alert">Wrong</div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">غلق</button>

                <button type="button" ng-click="createProduct()" class="btn btn-primary">حفظ</button>
            </div>
        </div>
    </div>
</div>

@* Edit Popup *@
<div class="modal fade" id="edit-cat">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">تعديل المنتج</h4>
            </div>
            <div class="modal-body">

                <form role="form" name="editForm" ng-model="editForm">

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-2">الإسم</label>
                            <div class="col-md-10">
                                <input type="text" name="editName" ng-model="editName" class="form-control" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-2">عدد الايام</label>
                            <div class="col-md-10">
                                <input type="number" name="editNumber" ng-model="editNumber" class="form-control" ng-required="true" />

                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div style="padding: 10px;">
                    <div ng-show="(editForm.editName.$invalid  || editForm.editNumber.$invalid || editForm.editNumber.$modelValue < 0) && (editForm.editNumber.$touched || editForm.editName.$touched)"
                         class="alert alert-danger"
                         role="alert">Wrong</div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">غلق</button>

                <button type="button" ng-click="submitEdit()" class="btn btn-primary" data-dismiss="modal">حفظ</button>
            </div>
        </div>
    </div>
</div>

@*ng-Table*@
<div class="container">
    <div class="row">
        <h2 class="text-center margin-btm20 solid-color">المنتجات</h2>
    </div>

    <div class="row">
        <form role="form">
            <div class="col-md-12">
                <div class="well margin-btm20">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-1">إسم المنتج</label>
                            <div class=" col-md-11">
                                <input ng-model="searchfield" type="text" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row text-center">
                        <button class="btn btn-primary" ng-click="search()">بحث</button>
                        <button class="btn btn-default" ng-click="myTable.filter({});">عرض الكل</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="" class="btn btn-default pull-left" data-toggle="modal" data-target="#add-cat">
                <i class="fa fa-plus-square"></i>
                إضافة منتج
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-12">
            <div class="table-responsive">
                <table ng-table="myTable" class="table table-striped table-bordered" show-filter="false">
                    
                        <tr ng-repeat="product in $data">
                            <td title="'اسم المنتج'" filter="{ Name: 'text'}" sortable="'Name'">
                                {{product.Name}}
                            </td>
                            <td title="'عدد الايام'" filter="{ NumberOfDays: 'number'}" sortable="'NumberOfDays'">
                                {{product.NumberOfDays}}
                            </td>
                            <td title="'تعديل'">
                                <a href="" ng-click="editProduct(product.ID)" data-toggle="modal" data-target="#edit-cat"><i class="fa fa-2x fa-edit"></i></a>
                            </td>
                            <td title="'حذف'">
                                <a ng-click="deleteProduct(product.ID)"><i class=" fa fa-2x fa-trash-o"></i></a>
                            </td>
                        </tr>
                    
                    
                    <tfoot>
                        <tr>
                            <th>اسم المنتج</th>
                            <th>عدد الايام</th>
                            <th>تعديل</th>
                            <th>حذف</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/App.js"></script>
