<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/flat-bootstrap-rtl.css" />
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/jPushMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/data-tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
    <script type="text/javascript" src="~/Assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jPushMenu.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/datatables-bootstrap.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>برنامج الإجتماعات</title>
    @Scripts.Render("~/bundles/angular")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.58/pdfmake.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>

</head>
<body>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
        <h3>القائمة الرئيسية</h3>
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                    الرئيسية
                </a>
            </li>
            <li>
                <a href="meeting-categories.html">
                    <i class="fa fa-tags"></i>
                    تصنيف الإجتماعات
                </a>
            </li>
            <li>
                <a href="index.html">
                    <i class="fa fa-pencil-square-o"></i>
                    إدارة الإجتماعات
                </a>
            </li>
            <li>
                <a href="add-meeting.html">
                    <i class="fa fa-plus-square"></i>
                    إضافة إجتماع
                </a>
            </li>
            <li>
                <a href="recommendation.html">
                    <i class="fa fa-tasks"></i>
                    التوصيات
                </a>
            </li>
            <li>
                <a href="recommendation-status.html">
                    <i class="fa fa-check-square-o"></i>
                    حالة التوصيات
                </a>
            </li>
            <li>
                <a href="stats.html">
                    <i class="fa fa-bar-chart-o"></i>
                    إحصائيات
                </a>
            </li>
        </ul>
    </nav>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand"><img src="~/Assets/images/logo.png" width="195" height="50" /></a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="toggle-menu menu-right push-body">
                            <i class="fa fa-bars fa-2x"></i>
                            <span class="menu-lbl">القائمة</span>
                        </a>
                    </li>

                </ul>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="navbar-profile dropdown-toggle text-bold" data-toggle="dropdown"><img class="img-circle" src="~/Assets/images/default-avatar.jpg" alt="">مدير تجريبي <i class="fa fa-fw fa-angle-down"></i></a>
                    <ul class="dropdown-menu animation-dock">
                        <li class="dropdown-header">إعدادات</li>
                        <li><a href="#">الحساب الشخصي</a></li>
                        <li><a href="#">الصلاحيات</a></li>
                        <li><a href="#">التنبيهات</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> الخروج من البرنامج</a></li>
                    </ul><!--end .dropdown-menu -->
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <div ng-app="myApp" ng-controller="MainCtrl">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        jQuery(document).ready(function ($) {
            $('.toggle-menu').jPushMenu();
        });

    </script>
    @*<script>
        $(document).ready(function () {
            $('#meeting-cat').dataTable({
                searching: false,
                bLengthChange: false,
                "aoColumnDefs": [
                 { 'bSortable': false, 'aTargets': [-1, -2] }
                ]
            });
        });</script>*@
</body>
</html>
